html, body {
  width: 100%;
  height: 100%;
}

.one {
  display: grid;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

#d1 {
  background-color: black;
  position: fixed;
}

#d2 {
  background: linear-gradient(black 50%, white 50%);
  position: fixed;
}

#d3 {
  color: white;
  font-family: 'Anton', sans-serif;
  font-size: 9vw;
  mix-blend-mode: difference;
  overflow-y: scroll;
  padding-left: 4vw;
  padding-top: 2vw;
  position: fixed;
}
